<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />

    <application
        android:name=".Notification.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodPos_Counter"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Utils.AnotherScreen"
            android:exported="false" />
        <activity
            android:name=".Utils.DifferentDisplay"
            android:exported="false" />
        <activity
            android:name=".Reports.FoodReportActivity"
            android:exported="false" />
        <activity
            android:name=".Reports.PaymentReportActivity"
            android:exported="false" />
        <activity
            android:name=".Reports.CounterReportsActivity"
            android:exported="false" />
        <activity
            android:name=".NoNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".SelfKiosk_Activity"
            android:exported="false" />
        <activity
            android:name=".CompletedOrder_Activity"
            android:exported="false" />
        <activity
            android:name=".OnGoingOrder_Activity"
            android:exported="false" />
        <activity
            android:name=".Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service android:name="net.posprinter.service.PosprinterService" />
        <service android:name=".Utils.TestService" />
        <service android:name=".Utils.OverallbillService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="1280" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="720" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:exported="false"
            android:value="DISABLE" />

        <service
            android:name="Notification.MyNotificationExtenderService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>